<!-- <form (submit)="login($event,username.value,password.value)"> -->
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
        <label for="username">Username </label>
        <input type="text" formControlName="username" #username />

        <span *ngIf="isSubmitted && formControls.username.errors" >
            <span *ngIf="formControls.username.errors.required">Username is required</span>
        </span>
    </div>
    
    <div class="form-group">
        <label for="password">Password </label>
        <input type="password" formControlName="password" #password  />
        
        <span *ngIf="isSubmitted && formControls.password.errors" >
            <span *ngIf="formControls.password.errors.required">Password is required</span>
        </span>
    </div>

    

    <div class="form-group">

        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>


<!-- <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
  <input type="email" placeholder="Email" formControlName="email">
</p>

<div *ngIf="isSubmitted &&formControls.email.errors" >
  <div *ngIf="formControls.email.errors.required">Email is required</div>
</div>

&lt;p [ngClass]="{ 'has-error': isSubmitted &amp;&amp; formControls.password.errors }"&gt;
  &lt;input type="password" placeholder="Password" formControlName="password"&gt;
&lt;/p&gt;

&lt;div *ngIf="isSubmitted &amp;&amp; formControls.password.errors" class="help-block"&gt;
  &lt;div *ngIf="formControls.password.errors.required"&gt;Password is required&lt;/div&gt;
&lt;/div&gt;

&lt;p&gt;
  &lt;input type="submit" value="Log in"&gt;
&lt;/p&gt; -->